In [1]:
#Imports-

import numpy as np
import pandas as pd

### Reading File-

In [15]:
bird = pd.read_csv('E:/birds.csv')

In [16]:
bird.head()

,class id,filepaths,labels,data set,scientific name
0,0.0,train/ABBOTTS BABBLER/001.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
1,0.0,train/ABBOTTS BABBLER/007.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
2,0.0,train/ABBOTTS BABBLER/008.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
3,0.0,train/ABBOTTS BABBLER/009.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI
4,0.0,train/ABBOTTS BABBLER/002.jpg,ABBOTTS BABBLER,train,MALACOCINCLA ABBOTTI

### Storing in a variable and putting check till where the data entries are required -

#### Like in this dataset there are 525 species of Birds, but I wanted to try for first 5 species only. So I put check on this dataset and got only first 5 species.

In [17]:
x = bird[bird['class id']<=5]

In [18]:
x.tail()

,class id,filepaths,labels,data set,scientific name
87285,5.0,valid/AFRICAN FIREFINCH/1.jpg,AFRICAN FIREFINCH,valid,LAGONOSTICTA RUBRICATA
87286,5.0,valid/AFRICAN FIREFINCH/2.jpg,AFRICAN FIREFINCH,valid,LAGONOSTICTA RUBRICATA
87287,5.0,valid/AFRICAN FIREFINCH/3.jpg,AFRICAN FIREFINCH,valid,LAGONOSTICTA RUBRICATA
87288,5.0,valid/AFRICAN FIREFINCH/4.jpg,AFRICAN FIREFINCH,valid,LAGONOSTICTA RUBRICATA
87289,5.0,valid/AFRICAN FIREFINCH/5.jpg,AFRICAN FIREFINCH,valid,LAGONOSTICTA RUBRICATA

### And then when you got the entries reduced, convert it into new file -

In [19]:
x.to_csv('bird.csv')